body {
    background-image: url('./hero_img_01.jpg');
}

.content-text {
    margin-top: 310px;
    margin-right: 400px;
    margin-left: 400px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: 300; 
    color: white;
    /* font-size: .9rem;
    transform: scale(1, 1.5); */
}

.learn-more-btn {
    text-align: center;
    font-size: 40px;
    color: rgb(75, 75, 75);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
}

.close-btn {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 40px;
}

.modal-overlay {
    visibility: hidden;
    text-align: center;
    margin-top: 100px;
    position: absolute;
    background: black;
    border: 3px solid #666666;
    width: 50%;
    height: 50%;
    left: 25%;
    /* opacity: 0.8 */
}

.modal-content {
    visibility: hidden;
    display: block;
}

.modal-overlay.active {
    visibility: visible;
    text-align: center;
    top: 50px;
}

.modal-content.active {
    visibility: visible;
}

h1 {
    margin-top: 200px;
    text-align: center;
    color: white;
    font-weight: normal;
}

iframe {
    margin-bottom: 100px;
    display: inline-block;
}

@media screen and (max-width: 1093px) {
    iframe {
        width: 400px
    }
}

@media screen and (max-width: 980px) {
    .content-text {
        text-align: center;
        width: 50%;
        margin-left: 200px;
    }
}

@media screen and (max-width: 799px) {
    iframe {
        width: 300px;
    }

    /* .modal-overlay {
        height: 100%
    } */
}

@media screen and (max-width: 617px) {
    body {
        background-image: url('./Hero_img_mobile_01.jpg');
    }

    .content-text {
        text-align: center;
        margin-left: 20px;
        /* margin-right: 50px; */ 
        font-size: 15px;
        width: 90%;
    }

    iframe {
        width: 300px;
        height: 300px;
    }

    .modal-overlay {
        width: 100%;
        margin-top: 400px;
        /* position: fixed; */
  /* top: 50%; */
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }

    .learn-more-btn {
        margin-top: 10px;
        font-size: 30px;
    }

    .close-btn {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 15px;
    }
}